extends default

block content
    .d-flex.justify-content-center
        .p-2.m-3
            a.navbar-brand(href='http://localhost:3000')
                img.mx-3(src='https://cdn-icons-png.flaticon.com/512/3845/3845731.png' alt='Weather app' width='30' height='24')
                | My Weather Application
    .d-flex.justify-content-center
        .p-2.m-3.w-100
            form.d-flex(role='search' action='/search' method='GET')
                input.form-control.me-2(type='search' placeholder='Search' aria-label='Search' name='q')
                button.btn.btn-outline-success(type='submit') Search
    div(class="container")
        footer(class="py-3 my-4 d-flex flex-wrap justify-content-between align-items-center border-top ")
            div(class="col-md-4 d-flex align-items-center")
                a(class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href='http://localhost:3000')
                    img.mx-3(src='https://cdn-icons-png.flaticon.com/512/3845/3845731.png' alt='Weather app' width='30' height='24')
                    span(class="mb-3 mb-md-0 text-body-secondary") © 2024 Company, Inc